venv/
__pycache__/

preprocessing/generate_embeddings/corpora/
preprocessing/generate_embeddings/tokenizations/
preprocessing/generate_embeddings/embeddings/
preprocessing/generate_embeddings/models/
logs/
.gitignore
