venv/
__pycache__/

app/preprocessing/generate_embeddings/corpora/
app/preprocessing/generate_embeddings/tokenizations/
app/preprocessing/generate_embeddings/embeddings/
app/preprocessing/generate_embeddings/models/
app/preprocessing/generate_embeddings/sentencizations/
app/test.py
app/brian-useful.sh
app/data
