
body{
    background-color: #adb5bd;
}

.content-page{
    height: 600px;
    max-height: 600px;
}

.page-main{
    height: 95%;
}

.nav-item a:hover{
    cursor: pointer;
}

.word-item{
    color: #495057;
}

.word-item:hover{
    cursor: pointer;
    color: #adb5bd;
}