
body{
    background-color: #adb5bd;
}

.content-page{

}

.page-main{
    min-height: 600px;
}

.most-shifted-tables{
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
}

.closest-words-table{
    max-height: 500px;
    overflow: auto;
}

.tgt-sentences-table{
    max-height: 500px;
    overflow: auto;
}

.tab-content{

}

.nav-item a:hover{
    cursor: pointer;
}

.word-item{
    color: #495057;
}

.word-item:hover{
    cursor: pointer;
    color: #adb5bd;
}

.plot-area{
    width: 100%;
}

.highlight-common{
    background: #00FF0033;
}

.highlight-unique{
    background: #80008033;
}

.target-highlight{
    background: #FFE80066;
}