<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semantic Shift Demo (S4)</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/demo.css">
    <script src="static/demo.js"></script>

</head>

<body>

<div class="container pt-4">
    <div class="navbar navbar-expand-lg bg-dark navbar-dark p-2">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav-pills mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" onclick="openTab(event, 'content-1')" aria-current="Introduction">1. Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="openTab(event, 'content-2')">2. Dataset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="openTab(event, 'content-3')">3. Words</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="openTab(event, 'content-4')">4. Contexts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="openTab(event, 'content-5')">5. Explanation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">References</a>
                </li>
            </ul>
        </div>
            <div class="d-flex justify-content-end">
                <a id="selected-dataset-label" class="nav-link text-secondary"><i>No dataset selected</i></a>
            </div>
    </div>
    <div class="progress">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;"></div>
    </div>


    <div class="content container-fluid p-4 m-0 bg-light">

        <div id="content-1" class="content-page container-fluid bg-light">
            <div class="page-main">
            <h1 class="h1">Introduction to Semantic Shift</h1>
            <p>A paragraph describing the procedure.</p>
            </div>

            <div class="page-buttons">
                <button class="btn btn-primary" onclick="openTab(event, 'content-2'); progressUp();">Start demo</button>
            </div>
        </div>
        <div id="content-2" class="content-page container-fluid bg-light" style="display:none">
            <div class="page-main">
                <h1>Dataset</h1>

                <p>Choose the dataset to work with. The datasets consist of pairs of corpora from different domains or periods.</p>

                    <div class="row container m-2">
                        <div class="col-8">
                         <h5>Select a dataset</h5>

                           <div class="card-deck">
                            <div class="row row-cols-3">
                                {% for d in datasets %}
                                    <div class="col mb-4">
                                        <a href="#" class="dataset-item list-group-item-action" style="text-decoration: none;" onclick="datasetClick(this, '{{d}}');" value="{{d}}">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h6>
                                                    {% if d in metadata %}
                                                    {{metadata[d]["display_name"]}}
                                                    {% else %}
                                                        {{d}}
                                                    {% endif %}
                                                    </h6>
                                                </div>
                                                <div class="card-body">
                                                    {% if d in metadata %}
                                                        <p>{{metadata[d]["description"]}}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            </div>
                        </div>

                        <div class="col-4">

                        </div>
                    </div>

            </div>
            <div class="page-buttons">
                <button class="btn btn-secondary" onclick="openTab(event, 'content-1')">Previous</button>
                <button class="btn btn-primary" onclick="loadDataset(event); openTab(event, 'content-3'); progressUp();">Next</button>
            </div>
        </div>

        <div id="content-3" class="content-page container-fluid bg-light" style="display:none">

            <div class="page-main">
                <h1>Most Shifted</h1>

                <p>List of the most semantically shifted words.
                 You can select a word from this list to further inspect them.</p>

                <div class="row mh-100">
                    <div class="col-4 overflow-auto">
                        <table id="table-s4" class="table-shifted-words table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="3" scope="col">Global</th>
                                </tr>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Word</th>
                                    <th scope="col">Distance</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                    <div class="col-4 overflow-auto mh-100">
                        <table id="table-global" class="table-shifted-words table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="3" scope="col">Noise-Aware</th>
                                </tr>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Word</th>
                                    <th scope="col">Distance</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                    <div class="col-4 overflow-auto">
                        <table id="table-noise-aware" class="table-shifted-words table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="3" scope="col">S4</th>
                                </tr>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Word</th>
                                    <th scope="col">Distance</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="page-buttons">
                <button class="btn btn-secondary" onclick="openTab(event, 'content-2')">Previous</button>
                <button class="btn btn-primary" onclick="openTab(event, 'content-4'); progressUp();">Next</button>
            </div>
        </div>

        <div id="content-4" class="content-page container-fluid bg-light" style="display:none">

            <div class="page-main">
                <h1>Contexts</h1>
                <p>Enter a word to query its neighbors in each corpus.
                 These results show the difference in contexts for the same word in each corpora.</p>
                <form>
                    <div class="row w-50">
                        <div class="col"><input class="form-control" type="text" placeholder="Enter a word..." autocomplete="off"></div>
                        <div class="col" style="height:100%;"><button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button></div>
                    </div>
                </form>

                <div class="container mt-2">
                    <h2 id="target-label"></h2>
                    <ul class="nav nav-tabs" id="tab-corpus" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab-a" data-bs-toggle="tab" data-bs-target="#query-a" role="tab" type="button">A</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab-b" data-bs-toggle="tab" data-bs-target="#query-b" role="tab" type="button">B</button>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="tab-content" id="query-content">
                            <div class="tab-pane fade show active" id="query-a" role="tabpanel">
                                <div class="col-4">
                                    <table id="table-a" class="table-neighbors table table-sm table-striped table-hover">
                                       <thead>
                                            <tr>
                                                <th scope="col">Word</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="query-b" role="tabpanel">
                                <div class="col-4">
                                    <table id="table-b" class="table-neighbors table table-sm table-striped table-hover">
                                       <thead>
                                            <tr>
                                                <th scope="col">Word</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="page-button">
                <button class="btn btn-secondary" onclick="openTab(event, 'content-3')">Previous</button>
                <button class="btn btn-primary" onclick="openTab(event, 'content-5'); progressUp();">Next</button>
            </div>
        </div>

        <div id="content-5" class="content-page container-fluid bg-light" style="display:none">

            <div class="page-main">
                <h1>Explanation</h1>
                <p>Explain semantic shift of a chosen word by showing neighbors in static embeddings and/or
                     different contexts obtained from dynamic embeddings/MLM.</p>
            </div>

            <div class="page-button">
                <button class="btn btn-secondary" onclick="openTab(event, 'content-4')">Previous</button>
                <button class="btn btn-primary" onclick="openTab(event, 'content-1'); progressUp();">Next</button>
            </div>
        </div>

    </div>

</div>
</body>

<script>
    loadMetadata({{metadata|tojson|safe}});
</script>
</html>